@model List<Document>
<section class="documents">
    <div class="container">
        @foreach (Document document in Model)
        {
            <div class="document-item">
                <div class="document-info">
                    <div class="document-icon">
                        <a href="#">
                            <i class="fas fa-file-alt"></i>
                        </a>
                    </div>
                    <div class="document-header">
                        <h3><a asp-action="DocumentDesc" asp-controller="Home" asp-route-id="@document.Id">@document.Name</a></h3>
                    </div>
                    <div class="document-price">
                        <a href="#">
                            <span>View details & buy</span>
                        </a>
                        <a href="#">
                            <span>
                                @document.Price AZN
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>