@model HomeViewModel
<div class="slider-wrapper">
    <ul class="text-center">
        <li data-id="1">
            <a class="slider main2 active" href="#main2" data-id="main2"></a>
        </li>
        @{ 
            int counter = 1;
        }
        @foreach (Category category in Model.Categories)
         {
             counter++;
            <li data-id="@counter">
                <a class="slider @category.Id" href="#@category.Id" data-id="@category.Id"></a>
            </li>
        }
        <li data-id="6">
            <a class="slider About" href="#About" data-id="About"></a>
        </li>
        <li data-id="7">
            <a class="slider ContactUs" href="#ContactUs" data-id="ContactUs"></a>
        </li>
        <li data-id="8">
            <a class="slider Footer" href="#Footer" data-id="Footer"></a>
        </li>
    </ul>
</div>