<section class="account">
    <header class="account-header">
        <div class="container text-center">
            <h1>MY ACCOUNT</h1>
        </div>
   </header>

    <div class="account-content">
        <div class="account-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <nav class="account-nav">
                            <h3 class="account-nav-title">MY ACCOUNT</h3>
                            <ul class="account-nav-content">
                                <li class="active"><a href="javascript:void(0)">Dashboard</a></li>
                                <li><a href="javascript:void(0)">Orders</a></li>
                                <li><a href="javascript:void(0)">Downloads</a></li>
                                <li><a href="javascript:void(0)">Addresses</a></li>
                                <li><a href="javascript:void(0)">Account Details</a></li>
                                <li><a href="javascript:void(0)">Wishlist</a></li>
                                <li><a href="javascript:void(0)">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-8">
                        <div class="account-details">
                            <p>
                                Hello <strong>Ibrahimkhanli</strong> (not <strong>Ibrahimkhanli</strong>?
                                <a asp-controller="Home" asp-action="Index">Log out</a>)
                            </p>
                            <p>
                                From your account dashboard you can view your 
                                <a asp-controller="Home" asp-action="Index">recent orders</a>, manage your 
                                <a asp-controller="Home" asp-action="Index">shipping and billing addresses</a>, and 
                                <a asp-controller="Home" asp-action="Index">edit your password and account details</a>.
                            </p>
                            <div class="account-options">
                                <div class="row m-0">
                                    <div class="box account-option account-option-order col-md-6 col-lg-4">
                                        <span><i class="fas fa-hand-holding-usd"></i>@*<i class="fas fa-box-open"></i>*@</span>
                                        <a href="#">Orders</a>
                                    </div>
                                    <div class="box account-option account-option-order col-md-6 col-lg-4">
                                        <span><i class="fas fa-cloud-download-alt"></i></span>
                                        <a href="#">Downloads</a>
                                    </div>
                                    <div class="box account-option account-option-order col-md-6 col-lg-4">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <a href="#">Addresses</a>
                                    </div>
                                    <div class="box account-option account-option-order col-md-6 col-lg-4">
                                        <span><i class="far fa-user"></i></span>
                                        <a href="#">Account Details</a>
                                    </div>
                                    <div class="box account-option account-option-order col-md-6 col-lg-4">
                                        <span><i class="far fa-heart"></i></span>
                                        <a href="#">Wishlist</a>
                                    </div>
                                    <div class="box account-option account-option-order col-md-6 col-lg-4">
                                        <span><i class="fas fa-sign-out-alt"></i>></span>
                                        <a href="#">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

