@model List<PurchasedDocument>

<section class="account">
    <header class="account-header">
        <div class="container text-center">
            <h1>MY ACCOUNT</h1>
        </div>
    </header>

    <div class="account-content">
        <div class="account-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <nav class="account-nav">
                            <h3 class="account-nav-title">MY ACCOUNT</h3>
                            <ul class="account-nav-content">
                                <li><a asp-controller="Account" asp-action="Home">Dashboard</a></li>
                                <li class="active"><a asp-controller="Account" asp-action="PurchasedDocuments">Yükləmələr</a></li>
                                <li><a asp-controller="Account" asp-action="Details">İstifadəçi Məlumatları</a></li>
                                <li><a asp-controller="Account" asp-action="Logout">Çıxış</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-8">
                        <div class="account-details">

                            @foreach (var item in Model)
                            {
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-block">
                                                <div class="table-responsive">
                                                    <table class="table" id="pages">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Sənəd
                                                                </th>
                                                                <th>
                                                                    Qiymət
                                                                </th>
                                                                <th>
                                                                    Tarix
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr id="id_@item.Id" style="cursor: pointer;">
                                                                <td>
                                                                    @item.Document.Name
                                                                </td>
                                                                <td>
                                                                    @item.Price
                                                                </td>
                                                                <td>
                                                                    @item.Date
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

