<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/media.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body style="background-color:rgb(233, 224, 224);">
    <!-- START PRJOECT -->


    <main class="main-page-wrapper">
        <!-- Start Main Background Video -->
        <div class="page-cover">
            <div id="container" class="video-container d-none d-sm-block">
                <video id="mainVideo" autoplay="autoplay" loop="loop" muted="muted">
                    <source src="~/videos/original.webm" type="video/mp4">
                </video>
            </div>
        </div>
        <!-- Main Background Video End -->
        <!-- Start Nav Bar -->
        <nav class="nav-bar-wrapper">
            <header class="header">
                <div class="icon-burger-wrapper">
                    <span class="icon-burger"></span>
                </div>
                <div class="col-lg-10 logo-brand align-items-center">
                    <p class="m-0"> E-VEKIL.AZ</p>
                </div>
            </header>
        </nav>
        <!-- Nav Bar End -->
        <!-- Side Bar -->
        <aside class="side-bar">
            <div class="side-bar-content">
                <ul class="m-0">
                    <li>
                        <span class="close-icon"></span>
                    </li>
                    <li>
                        <a href="#InsanResurslari">Insan Resurslari</a>
                    </li>
                    <li>
                        <a href="#MehkemeSenedleri">Mehkeme Senedleri</a>
                    </li>
                    <li>
                        <a href="#Muqavileler">Müqavilələr</a>
                    </li>
                    <li>
                        <a href="#SairSenedler">Sair Sənədələr</a>
                    </li>
                    <li>
                        <a href="">Results</a>
                    </li>
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                    <hr>
                    <li>
                        <a href="">Blog</a>
                    </li>
                </ul>
            </div>
        </aside>

        <nav class="navHelper">
            <a id="navHelperADown" href="#InsanResurslari">
                <span>Scroll Down</span>
                <span id="scrollDown" class="scrollDown"></span>
            </a>
            <a id="navHelperAUp" class="hidden" href="#main2">
                <span>Scroll Up</span>
                <span id="scrollUp" class="scrollUp"></span>
            </a>
        </nav>
        <!-- Side Bar End -->
        
    @RenderBody()
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/main.js"></script>
</body>

</html>