<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>e-Vekil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>
    <main class="scroller">
        @*//////////////MURAD START/////////////////*@
        <nav id="navPrimary" class="navPrimary hidden navHidden">
            <div class="navPrimaryContent">
                <a class="navToggle">
                    <span class="icon iconClose"></span>
                </a>
                <ol class="navList">
                    <li> <a href="#" class="strategy"> Strategy</a> </li>
                    <li> <a href="#" class="ux"> UX</a> </li>
                    <li> <a href="#" class="webdesign"> Web Design</a> </li>
                    <li> <a href="#" class="marketing"> Marketing</a> </li>
                    <li> <a href="#"> Results</a> </li>
                    <li> <a href="#"> About</a> </li>
                    <li> <a href="#"> Contact</a> </li>
                </ol><hr />
                <ul class="navList">
                    <li><a href="//www.intechnic.com/blog">Blog</a></li>
                </ul>
            </div>
        </nav>

        <header id="mainheader" class="header">
            <div class="headerContent">
                <a href="#" class="logo" title="e-Vekil">e-Vekil</a>
            </div>
            <a class="navToggle">
                <span class="icon iconBurger"></span>
            </a>
        </header>
        @*//////////////MURAD END/////////////////*@

        @*//////////////TERLAN START/////////////////*@
            <section class="intro">
                <div class="container">
                    <div class="col-12 intro-title"><h1>Ultimate <br /> Digital <br /> Experiences</h1></div>
                    <div class="col-12 intro-desc mt-5">
                        <p>
                            to acquire, retain, and
                            delight your clients
                        </p>
                    </div>
                    <div class="isotop col-lg-12">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td><a href="#" class="isotop-link">Strategy</a></td>
                                    <td><a href="#" class="isotop-link">User Experience</a></td>
                                    <td><a href="#" class="isotop-link">Web Design</a></td>
                                    <td><a href="#" class="isotop-link">Digital Marketing</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <div class="slider-wrapper">
                <ul class="text-center">
                    <li><span class="slider active"></span></li>
                    <li><span class="slider"></span></li>
                    <li><span class="slider"></span></li>
                    <li><span class="slider"></span></li>
                    <li><span class="slider"></span></li>
                    <li><span class="slider"></span></li>
                    <li><span class="slider"></span></li>
                    <li><span class="slider"></span></li>
                    <li><span class="slider"></span></li>
                </ul>
            </div>
        <div class="test col-12">
            Axtar
            90 604
            Bonus
            Ana səhifə
            Ödənişlər
            Birbaşa ödə
            Saxlanılan ödənişlər
            Avtomatik ödənişlər
            Saxlanılan kartlar
            Biletlər
            Sığorta
            Dərhal Dəyiş
            © 2018 GoldenPay OJSC Hesab.az
            Ödəmə uğurla həyata keçdi
            Ödəniş məlumatları
            XidmətCatel
            Məbləğ5.70 ₼
            Qazanılmış bonuslar570
            Tarix24/10/2018 20:20
            Unikal nömrə4487919
            Tranzaksiya IDf852144b-db6c-4005-9741-6f8122402fe5
            Kartın növüMasterCard / Maestro
            Kartın nömrəsi************7774
            E-mailə göndərÇap etYenidən ödə
        </div>
        @*//////////////TERLAN END/////////////////*@
    </main>

    @RenderBody()
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
