<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>e-Vekil</title>
    <link href="~/css/style.css" rel="stylesheet" />
    

</head>

<body>

    <main>

        <nav id="navPrimary" class="navPrimary hidden navHidden">
            <div class="navPrimaryContent">
                <a class="navToggle">
                    <span class="icon iconClose"></span>
                </a>
                <ol class="navList">
                    <li> <a href="#" class="strategy"> Strategy</a> </li>
                    <li> <a href="#" class="ux"> UX</a> </li>
                    <li> <a href="#" class="webdesign"> Web Design</a> </li>
                    <li> <a href="#" class="marketing"> Marketing</a> </li>
                    <li> <a href="#"> Results</a> </li>
                    <li> <a href="#"> About</a> </li>
                    <li> <a href="#"> Contact</a> </li>
                </ol><hr />
                <ul class="navList">
                    <li><a href="//www.intechnic.com/blog">Blog</a></li>
                </ul>
            </div>
        </nav>

        <header class="header">
            <div class="headerContent">
                <a href="#" class="logo" title="e-Vekil">e-Vekil</a>
            </div>
            <a class="navToggle">
                <span class="icon iconBurger"></span>
            </a>
        </header>

    </main>

    @RenderBody()


    <script src="~/js/jquery-3.3.1.min.js"></script>

    <script>
      


        var box = $('#navPrimary');

        $('.navToggle').on('click', function () {

            if (box.hasClass('hidden')) {

                box.removeClass('hidden');
                setTimeout(function () {
                    box.removeClass('navHidden');
                }, 20);

            } else {

                box.addClass('navHidden');

                box.one('transitionend', function (e) {

                    box.addClass('hidden');

                });

            }

        });
    </script>
</body>
</html>
