<section class="document-desc-wrapper">
    <div class="container">
        <div class="row">
            @* DOCUMENT INFO *@
            <div class="col-lg-4 document-desc-img">
                <img src="~/images/bg.jpg" class="w-100" alt="Document" />
            </div>
            <div class="col-lg-8 document-desc-info">
                <header class="col-lg-12">
                    <h3>Borc Müqaviləsi</h3>
                </header>
                <div class="col-lg-12 document-short-desc mt-3">
                    <p>Şablon borc müqaviləsi forması. Əlavə edilmiş müqavilə formasında əcnəbi hüquqi şəxs tərəfindən Azərbaycan Respublikasının vətəndaşına borc verilir. Borc müqaviləsinin Azərbaycan Respublikasının notariusu tərəfindən təsdiq edilməsi nəzərdə tutulmuşdur. Bu məqsədlə hüquqi şəxsin təsis və qeydiyyat sənədlərinin notarius tərəfindən təsdiq edilmiş nüsxələri laqallaşdırılaraq və ya appostil vasitəsilə təsdiq edilməli və Azərbaycan dilinə tərcümə edilərək müqaviləni təsdiq edəcək notariusa təqdim edilməlidir.</p>
                </div>
                <div class="col-lg-12 mt-3">
                    <a href="#" class="add-button">Add to cart</a>
                </div>
            </div>
            @* END DOCUMENT INFO *@
            <div class="col-lg-12 mt-5 document-desc-features">
                <header class="col-lg-12 p-0">
                    <span class="description active" data-id="1">Document Description</span>
                    <span class="review" data-id="2">Reviews(0)</span>
                </header>
                @* MAIN DESCRIPTION *@
                <div class="col-lg-12 description-wrapper features py-5 active" data-name="1">
                    <header class="col-lg-12">
                        <h3>Borc Müqaviləsi</h3>
                    </header>
                    <div class="description-content features col-lg-12">
                        <p>Şablon borc müqaviləsi forması. Əlavə edilmiş müqavilə formasında əcnəbi hüquqi şəxs tərəfindən Azərbaycan Respublikasının vətəndaşına borc verilir. Borc müqaviləsinin Azərbaycan Respublikasının notariusu tərəfindən təsdiq edilməsi nəzərdə tutulmuşdur. Bu məqsədlə hüquqi şəxsin təsis və qeydiyyat sənədlərinin notarius tərəfindən təsdiq edilmiş nüsxələri laqallaşdırılaraq və ya appostil vasitəsilə təsdiq edilməli və Azərbaycan dilinə tərcümə edilərək müqaviləni təsdiq edəcək notariusa təqdim edilməlidir.</p>
                    </div>
                </div>
                @* END MAIN DESCRIPTION *@
                <div class="col-lg-12 review-wrapper features py-5" data-name="2">
                    <div class="row">
                        @* SEND REVIEW *@
                        <div class="col-lg-12 send-review">
                            <header class="col-lg-12 p-0"></header>
                            <div class="form-group">
                                <label for="UserName">Username or email</label>
                                <input type="text" class="form-control" id="UserName" required>
                            </div>
                            <div class="form-group">
                                <label for="Rate" style="display:block;">Your Rate</label>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="form-group">
                                <label for="Question">Your Review</label>
                                <textarea class="form-control" id="Question" rows="4" required></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">GÖNDƏR</button>
                            </div>
                            <hr />
                        </div>
                        @* END SEND REVIEW *@
                              

                        @* USER REVIEWS *@
                        <div class="col-lg-8 reviews">
                            <div class="row">
                                <div class="col-lg-3">
                                    <img src="~/images/review.png" alt="Alternate Text" />
                                </div>
                                <div class="col-lg-9">
                                    <div class="col-lg-12 review-owner">
                                        <h4>Murad İbrahimkhanli</h4>
                                    </div>
                                    <div class="col-lg-12 review-date">
                                        <p>07.11.2018 14:53</p>
                                    </div>
                                    <div class="col-lg-12 review-content">
                                        <p>Şablon borc müqaviləsi forması. Əlavə edilmiş müqavilə formasında əcnəbi hüquqi şəxs tərəfindən Azərbaycan Respublikasının vətəndaşına borc verilir. Borc müqaviləsinin Azərbaycan Respublikasının notariusu tərəfindən təsdiq edilməsi nəzərdə tutulmuşdur. Bu məqsədlə hüquqi şəxsin təsis və qeydiyyat sənədlərinin notarius tərəfindən təsdiq edilmiş nüsxələri laqallaşdırılaraq və ya appostil vasitəsilə təsdiq edilməli və Azərbaycan dilinə tərcümə edilərək müqaviləni təsdiq edəcək notariusa təqdim edilməlidir.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* END USER REVIEWS *@
                    </div>
                </div>
            </div>

            @* Oxsar Senedler *@
            <div class="col-12 py-3 my-3 similar-documents">
                <h3>Oxşar Sənədlər</h3>
                <div class="row">
                    <div class="col-lg-3 similar-document-wrapper col-md-3 col-sm-4">
                        <div class="row">
                            <div class="similar-document-item">
                                <div class="col-4 similar-document-img">
                                    <img src="~/images/bg.jpg" class="w-100" alt="Alternate Text" />
                                </div>
                                <div class="col-8 similar-document-desc">
                                    <p>Borc Muqavilesi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 similar-document-wrapper col-md-3 col-sm-4">
                        <div class="row">
                            <div class="similar-document-item">
                                <div class="col-4 similar-document-img">
                                    <img src="~/images/bg.jpg" class="w-100" alt="Alternate Text" />
                                </div>
                                <div class="col-8 similar-document-desc">
                                    <p>Borc Muqavilesi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 similar-document-wrapper col-md-3 col-sm-4">
                        <div class="row">
                            <div class="similar-document-item">
                                <div class="col-4 similar-document-img">
                                    <img src="~/images/bg.jpg" class="w-100" alt="Alternate Text" />
                                </div>
                                <div class="col-8 similar-document-desc">
                                    <p>Borc Muqavilesi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 similar-document-wrapper col-md-3 col-sm-4">
                        <div class="row">
                            <div class="similar-document-item">
                                <div class="col-4 similar-document-img">
                                    <img src="~/images/bg.jpg" class="w-100" alt="Alternate Text" />
                                </div>
                                <div class="col-8 similar-document-desc">
                                    <p>Borc Muqavilesi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   
