<section class="document-desc-wrapper">
    <div class="container">
        <div class="row">
           <vc:document-desc id="Convert.ToInt32(ViewBag.documentId)"></vc:document-desc>
 @* Oxsar Senedler *@
<div class="col-12 py-3 my-3 similar-documents">
    <h3>Oxşar Sənədlər</h3>
    <div class="row">
        <div class="col-lg-3 similar-document-wrapper col-md-3 col-sm-4">
            <div class="row">
                <div class="similar-document-item">
                    <div class="col-4 similar-document-img">
                        <img src="~/images/bg.jpg" class="w-100" alt="Alternate Text" />
                    </div>
                    <div class="col-8 similar-document-desc">
                        <p>Borc Muqavilesi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 similar-document-wrapper col-md-3 col-sm-4">
            <div class="row">
                <div class="similar-document-item">
                    <div class="col-4 similar-document-img">
                        <img src="~/images/bg.jpg" class="w-100" alt="Alternate Text" />
                    </div>
                    <div class="col-8 similar-document-desc">
                        <p>Borc Muqavilesi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 similar-document-wrapper col-md-3 col-sm-4">
            <div class="row">
                <div class="similar-document-item">
                    <div class="col-4 similar-document-img">
                        <img src="~/images/bg.jpg" class="w-100" alt="Alternate Text" />
                    </div>
                    <div class="col-8 similar-document-desc">
                        <p>Borc Muqavilesi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 similar-document-wrapper col-md-3 col-sm-4">
            <div class="row">
                <div class="similar-document-item">
                    <div class="col-4 similar-document-img">
                        <img src="~/images/bg.jpg" class="w-100" alt="Alternate Text" />
                    </div>
                    <div class="col-8 similar-document-desc">
                        <p>Borc Muqavilesi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>

