@{
    ViewBag.Title = "Index";
}

<!-- Start Main Background Video -->
<div class="page-cover">
    <div id="container" class="video-container d-none d-sm-block">
        <video id="mainVideo" autoplay="autoplay" loop="loop" muted="muted">
            <source src="~/videos/original.webm" type="video/mp4">
        </video>
    </div>
    <img src="~/images/qiz1.jpg" id="bg-photo" alt="Alternate Text" />
</div>
<!-- Main Background Video End -->
<!-- SECTIONS -->
<!-- INTRODUCTION PART -->
<section class="intro sect" id="main2">
    <div class="container">
        <div class="row">
            <!-- title -->
            <header class="col-lg-7 intro-title">
                <h1>İstənİlən Hüquqİ Sənəd Hər Yerdə,Hər Zaman</h1>
            </header>
            <!-- description -->
            <div class="col-lg-7 intro-desc">
                <h5>
                    Tələbinizə uyğun sənədi hazırlayın və ya yüzlərlə müxtəlif növ sənəd nümunələri arasından lazım olanını
                    kompüterinizə yükləyin.
                </h5>
            </div>
            <!-- isotop -->
            <div class="isotop">
                <vc:category></vc:category>
            </div>
        </div>
    </div>

    <!-- Slider List -->
    <vc:slider></vc:slider>
    <!-- Slider List End -->
</section>
<!-- INTRODUCTION END -->

<div class="container">
    @* Categories *@
    <ul class="categories">
        <vc:home></vc:home>
    </ul>
    @* Categories End *@
</div>
<section id="About" class="sect about">
    <div class="container">
        @* Slider *@
        <div class="col-lg-12 p-0 py-5"><h1>BİZ <span>E-VEKIL.AZ</span></h1></div>
        <div class="about-nav">
            <ul>
                <li><a href="#Haqqimizda"><span data-id="1" class="active about-nav-item Haqqimizda" data-hash="Haqqimizda">Haqqımızda</span></a></li>
                <li><a href="#Process"><span data-id="2" class="about-nav-item Process" data-hash="Process">Process</span></a></li>
                @*<li><a href="#Expertise"><span data-id="3" class="about-nav-item Expertise" data-hash="Expertise">Expertise</span></a></li>*@
                <li><a href="#People"><span data-id="4" class="about-nav-item People" data-hash="People">People</span></a></li>
            </ul>
        </div>
        <div id="about-slider" class="about">
            <div class="about-slider-wrapper col-12 p-0">
                <div class="col-12 p-0 accordion" data-id="1"><h3>Haqqımızda</h3><i class="fas fa-angle-down"></i></div>
                <article class="about-us m-0" id="Haqqimizda" data-name="1">
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                                e-vakil.az saytının məqsədi istifadəçilərinə peşəkar hüquqi yardım göstərməkdir. Qeyd edilən hüquqi yardım (i) saytımızda yerləşdirilmiş müxtəlif növ sənədlərin təqdim edilməsindən və (ii) sifarişinizə uyğun sənədlərin hazırlanmasından ibarətdir.
                                Təqdim edilən sənədlər arasında müxtəlif ərizə formaları, aktlar, protokollar, müqavilələr, etibarnamələr, qərarlar və s. tapmaq olar.
                            </p>
                            <p>
                                Qeyd etmək lazımdır ki, e-vakil.az saytının təsisçiləri bu saytı pul qazanmaq üçün yaratmamışlar. Bu səbəbdən təqdim edilən bir çox sənəd formaları pulsuz və ya çox ucuz qiymətə təklif edilir. Saytımızda satışda olan məhsullar, fəaliyyətimizi dəstəkləmək üçündür.
                                Müraciət edən şəxs e-vakil.az saytı vasitəsilə tapdığı vəkilin hərəkətlərindən narazı olarsa və ya digər səbəblərdən vəkildən imtina edərsə və  e-vakil.az saytına başqa vəkil tapmaq üçün müraciət edərsə müraciət edən şəxsin tələblərinə cavab verə biləcək vəkil tapmağa yardım etməyə və sair üsulla hüquqi yardım etməyə çalışacağıq.
                            </p>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </article>
                <div class="col-12 p-0 accordion" data-id="2">
                    <h3>Process</h3><i class="fas fa-angle-down"></i>
                </div>
                <article class="about-us" id="Process" data-name="2">
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                                Səhifəmizdə təqdim edilən sənədlərin yüklənməsi üçün ilk növbədə qeydiyyatdan keçəmək tələb edilir. 
                                Qeydiyyatdan keçməklə yaratdığınız hesaba gələcəkdə yüklədiyiniz sənədləri istənilən vaxt,
                                istənilən kompüterdən daxil olmaqla yenidən yükləyə bilərsiniz.
                            </p>
                            <p>
                                Yükləmək istədiyiniz sənədlər barədə məlumatı oxuduqdan sonra səbətinizə əlavə edin. 
                                Səbətinizdəki sənədin alınması üçün www.e-vekil.az səhifəsi ilə Sizin aranızda alğı-satqı müqaviləsi şərtləri ilə tanış olaraq razılığınızı bildirməyiniz tələb edilir. 
                                Alğı-satqı müqaviləsinin şərtləri ilə razılaşdıqdan sonra müvafiq düyməni sıxmaqla sizi GoldenPay səhifəsinə 
                                (GoldenPay- sözləri göy rənglə qeyd edilsə əla olar, 
                                istifadəçi həmin sözləri tıklamaqla http://goldenpay.az/default.html səhifəsinə getmiş olar) yönləndirilirsiniz. 
                                GoldenPay  səhifəsi sizin daxil etdiyiniz kart məlumatlarının təhlükəsizliyinə təminat verir. 
                                Ödəniş uğurla həyata keçirildikdən sonra siz yenidən www.e-vekil.az səhifəsinə qaytarılırsınız 
                                və yüklədiyiniz sənədi səhifənin yuxarı sağ küncündə istifadəçi adınıza tiklamaqla “Mənim hesabım” bölməsindən yükləyə bilərsiniz. 
                                Yüklədiyiniz sənəd eyni zamanda qeydiyyat zamanı daxil edilmiş email ünvanınıza da göndəriləcəkdir.
                            </p>
                            <p>
                                Təşəkkürlər!
                            </p>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </article>
                @*<div class="col-12 p-0 accordion" data-id="3"><h3>Expertise</h3><i class="fas fa-angle-down"></i></div>
                <article class="about-us" id="Expertise" data-name="3">
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                                Their believe that creating customer-centric experiences based on UX best practices, market research, and user testing is the best way to achieve Results on Internet® (ROI).
                            </p>
                            <p>For over 20 years, we have been creating high-performance websites, apps, and software that deliver ultimate digital experiences for financial services and insurance companies, nonprofits, and government agencies.</p>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </article>*@
                <div class="col-12 p-0 accordion" data-id="4"> <h3>People</h3><i class="fas fa-angle-down"></i></div>
                <article class="about-us" id="People" data-name="4">
                    <div class="row">
                        <div class="col-lg-8 people-images">
                            <h3>Meet our leadership team:</h3>
                            <div class="row">
                                <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                    <div class="people-img-wrapper">
                                        <div class="people-img-overlay">
                                            <p>Nihad</p>
                                            <p>Əliyev</p>
                                        </div>
                                        <img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-1.jpg?noresize" alt="Vekil" />
                                    </div>
                                </div>
                                <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                    <div class="people-img-wrapper">
                                        <div class="people-img-overlay">
                                            <p>Nurlana</p>
                                            <p>Əliyeva</p>
                                        </div>
                                        <img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-1.jpg?noresize" alt="Vekil" />
                                    </div>
                                </div>
                                <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                    <div class="people-img-wrapper">
                                        <div class="people-img-overlay">
                                            <p>Ramil</p>
                                            <p>Pənahov</p>
                                        </div>
                                        <img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-1.jpg?noresize" alt="Vekil" />
                                    </div>
                                </div>
                                <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                </div>
                                <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                    <div class="people-img-wrapper">
                                        <div class="people-img-overlay">
                                            <p>Həsən</p>
                                            <p>Nəsibov</p>
                                        </div>
                                        <img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-1.jpg?noresize" alt="Vekil" />
                                    </div>
                                </div>
                                <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                </div>
                                <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                    <div class="people-img-wrapper">
                                        <div class="people-img-overlay">
                                            <p>Selcan</p>
                                            <p>Məmmədli</p>
                                        </div>
                                        <img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-1.jpg?noresize" alt="Vekil" />
                                    </div>
                                </div>
                                <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                </div>
                                <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                    <div class="people-img-wrapper">
                                        <div class="people-img-overlay">
                                            <p>XXXX</p>
                                            <p>XXXXXXX</p>
                                        </div>
                                        <img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-1.jpg?noresize" alt="Vekil" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<section id="ContactUs" class="sect contactUs">
    <div class="container">
        <div class="row">
            <header class="contact-header col-lg-12">
                <h1>BİZİMLƏ <span>ƏLAQƏ</span></h1>
            </header>
            <div class="contact-content col-lg-12">
                <form action="/" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Ad</label>
                                <input type="text" class="form-control" id="Name" required>
                            </div>
                            <div class="form-group">
                                <label for="Soyad">Soyad</label>
                                <input type="text" class="form-control" id="Name" required>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Phone">Telefon</label>
                                <input type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}" class="form-control" id="Phone" required>
                            </div>
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" id="Email" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="Question">Sualınız</label>
                                <textarea class="form-control" id="Question" rows="4" required></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" style="background:#8a1919; color:white;" class="btn btn-danger">Göndər</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    $(window).scroll( //About on scroll fixed menu
        function About() {
            var scrollTop = $(window).scrollTop();
            var listoffsetTop = $(".about-nav").offset().top;
            if (listoffsetTop - scrollTop <= 98) {
                $(".about-nav").addClass("fixed");
            }
            if ($("#About").offset().top - scrollTop >= -137) {
                $(".about-nav").removeClass("fixed");
            }
            var nextElementOffsetTop = $("#About").next().offset().top;
            if (nextElementOffsetTop - scrollTop < $(".about-nav").innerHeight() + 80) {
                $(".about-nav").removeClass("fixed");
            }
        }
    );
</script>