@{ 
    ViewBag.Title = "Index";
} 

<!-- Start Main Background Video -->
<div class="page-cover">
    <div id="container" class="video-container d-none d-sm-block">
        <video id="mainVideo" autoplay="autoplay" loop="loop" muted="muted">
            <source src="~/videos/original.webm" type="video/mp4">
        </video>
    </div>
</div>
<!-- Main Background Video End -->

<!-- SECTIONS -->
<!-- INTRODUCTION PART -->
<section class="intro sect" id="main2">
    <div class="container">
        <div class="row">
            <!-- title -->
            <header class="col-lg-7 intro-title">
                <h1>İstənİlən Hüquqİ Sənəd Hər Yerdə,Hər Zaman</h1>
            </header>
            <!-- description -->
            <div class="col-lg-7 intro-desc">
                <h5>
                    Tələbinizə uyğun sənədi hazırlayın və ya yüzlərlə müxtəlif növ sənəd nümunələri arasından lazım olanını
                    kompüterinizə yükləyin.
                </h5>
            </div>
            <!-- isotop -->
            <div class="isotop">
                <a href="#InsanResurslari">İnsan Resursları</a>
                <a href="#MehkemeSenedleri">Məhkəmə Sənədləri</a>
                <a href="#Muqavileler">Müqavilələr</a>
                <a href="#SairSenedler">Sair Sənədlər</a>
            </div>
        </div>
    </div>

    <!-- Slider List -->
    <div class="slider-wrapper">
        <ul class="text-center">
            <li data-id="1">
                <a class="slider main2 active" href="#main2" data-id="main2"></a>
            </li>
            <li data-id="2">
                <a class="slider InsanResurslari" href="#InsanResurslari" data-id="InsanResurslari"></a>
            </li>
            <li data-id="3">
                <a class="slider MehkemeSenedleri" href="#MehkemeSenedleri" data-id="MehkemeSenedleri"></a>
            </li>
            <li data-id="4">
                <a class="slider Muqavileler" href="#Muqavileler" data-id="Muqavileler"></a>
            </li>
            <li data-id="5">
                <a class="slider SairSenedler" href="#SairSenedler" data-id="SairSenedler"></a>
            </li>
            <li data-id="6">
                <a class="slider About" href="#About" data-id="About"></a>
            </li>
            <li data-id="7">
                <a class="slider ContactUs" href="#ContactUs" data-id="ContactUs"></a>
            </li>
            <li data-id="8">
                <a class="slider Footer" href="#Footer" data-id="Footer"></a>
            </li>
        </ul>
    </div>
    <!-- Slider List End -->
</section>
<!-- INTRODUCTION END -->

<div class="container">
    @* Categories *@
    <ul class="categories">
        <div class="category-name col-12 p-0 py-3">
            <h3>İnsan Resursları</h3>
            <i class="fas fa-angle-down"></i>
        </div>
        <li class="sect category-item" id="InsanResurslari">
            <article class="category">
                <div class="container">
                    <div class="row">
                        <div class="mx-auto category-content category-bg" style="height:500px;background-image:url('images/hr1.jpg');">
                            <h1 class="category-title">İnsan Resursları</h1>
                        </div>
                        <div class="category-features">
                            <ul>
                                <li>
                                    <a href="">Əmək müqavilələri</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Əmr formaları</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Vəzifə təlimatları</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Ərizələr</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Əmr kitabları</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Ezmiyyə vərəqələri</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Aktlar</a>
                                </li>
                                <hr>
                            </ul>
                        </div>
                        <div class=" mx-auto category-text">
                            <p>
                                Bu bölmədə kadrlar şöbəsinin faəliyyətinə aid müxtəlif sənəd nümunələri, o cümlədən əmr formaları, əmək müqavilələri,
                                əmək müqavilələrinə əlavələr, vəzifə təlimatları, aktlar,
                                izahat formaları, ərizələr, əmr kitabları və s. yerləşdirilmişdir.
                            </p>
                            <p>
                                Diqqətinizə təqdim edilən bu sənəd nümunələri Azərbaycan Respublikasında fəaliyyət göstərən müxtəlif
                                təşkilatlar tərəfindən istifadə edilməkdədir.
                            </p>
                        </div>
                        <div class="download-button d-flex align-items-center col-lg-12">
                            <a asp-action="Document" asp-controller="Home">
                                <span class="circle">
                                </span>
                                <p>Sənəd nümunələrini <br />buradan yükləyin</p>
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </li>
        <div class="category-name col-12 p-0 py-3">
            <h3>Məhkəmə Sənədləri</h3>
            <i class="fas fa-angle-down"></i>
        </div>
        <li class="sect category-item" id="MehkemeSenedleri">
            <article class="category">
                <div class="container">
                    <div class="row">
                        <div class="mx-auto category-content category-bg" style="height:500px;background-image:url('images/mehkeme1.jpg');">
                            <h1 class="category-title">Məhkəmə Sənədləri</h1>
                        </div>
                        <div class="category-features">
                            <ul>
                                <li>
                                    <a href="">İddia ərizələri</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Apellyasiya şikayətləri</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Kassasiya şikayətləri </a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Vəsatətlər</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Barışıq sazişləri</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Qarşılıqlı iddia ərizələri</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Etirazlar</a>
                                </li>
                                <hr>
                            </ul>
                        </div>
                        <div class=" mx-auto category-text">
                            <p>
                                Əsasən mülki və iqtisadi mübahisələr üzrə məhkəməyə qədər və məhkəmə araşdırması dövründə tərtib edilən
                                sənəd nümunələri bu bölmədə sizin diqqətinizə təqdim edilir.
                            </p>
                            <p>
                                Sənəd nümunələri arasında təmənnasız təqdim edilən bəzi iddia ərizələri formaları ilə yanaşı,
                                müxtəlif məzmunlu və formalı vəsatətlər, apellyasiya şikayətləri, kassasiya şikayətləri formaları və s. mövcuddur.
                                Sənəd nümunələri Azərbaycan Respublikası Vəkillər Kollegiyasının üzvləri tərəfindən tərtib edilmişdir.
                                Sənəd nümunələrindən real məhkəmə işlərində istifadə edilmişdir.
                            </p>
                        </div>
                        <div class="download-button d-flex align-items-center col-lg-12">
                            <a asp-action="Document" asp-controller="Home">
                                <span class="circle">
                                </span>
                                <p>Sənəd nümunələrini <br />buradan yükləyin</p>
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </li>
        <div class="category-name col-12 p-0 py-3">
            <h3>Müqavilələr</h3>
            <i class="fas fa-angle-down"></i>
        </div>
        <li class="sect category-item" id="Muqavileler">
            <article class="category">
                <div class="container">
                    <div class="row">
                        <div class="mx-auto category-content category-bg" style="height:500px;background-image: url('images/muqavile3.jpg')">
                            <h1 class="category-title">Müqavilələr</h1>
                        </div>
                        <div class="category-features">
                            <ul>
                                <li>
                                    <a href="">Alğı-satqı müqavilələri </a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Podrat müqavilələri</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Xidmət müqavilələri</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Borc müqavilələri</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Daşınma müqavilələri</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Müqavilələrə əlavələr</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">İcarə müqavilələri</a>
                                </li>
                                <hr>
                            </ul>
                        </div>
                        <div class=" mx-auto category-text">
                            <p>
                                Azərbaycan Respublikasının qanunvericiliyinə uyğun tərtib edilən müxtəlif müqavilə növləri.
                                Təqdim edilən bütün müqavilə növləri təcrübədə istifadə edilmişdir.
                            </p>
                            <p>
                                Müqavilələr arasında tez-tez istifadə edilən alğı-satqı, bağışlama, podrat, xidmət müqavilələri
                                ilə yanaşı Azərbaycan işgüzar adətlərində yeni-yeni rast gəlinən autsorsinq,
                                birgə əməliyyat sazişləri nümunələri də daxil edilmişdir.
                            </p>
                        </div>
                        <div class="download-button d-flex align-items-center col-lg-12">
                            <a asp-action="Document" asp-controller="Home">
                                <span class="circle">
                                </span>
                                <p>Sənəd nümunələrini <br />buradan yükləyin</p>
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </li>
        <div class="category-name col-12 p-0 py-3">
            <h3>Sair Sənədlər</h3>
            <i class="fas fa-angle-down"></i>
        </div>
        <li class="sect category-item" id="SairSenedler">
            <article class="category">
                <div class="container">
                    <div class="row">
                        <div class="mx-auto category-content category-bg" style="height:500px;background-image:url('images/sair.jpg');">
                            <h1 class="category-title">Sair Sənədlər</h1>
                        </div>
                        <div class="category-features">
                            <ul>
                                <li>
                                    <a href="">Hüquqi şəxsin Ümumi yığıncağının qərarı</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Əfv üçün müraciət ərizəsi formaları</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Etibarnamələr</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Təsisçinin qərarı</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Vəsiyyətnamə formaları</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Aktlar</a>
                                </li>
                                <hr>
                                <li>
                                    <a href="">Qərar formaları</a>
                                </li>
                                <hr>
                            </ul>
                        </div>
                        <div class=" mx-auto category-text">
                            <p>
                                Yuxarıdakı təsnifata yer almamış sənəd nümunələrini hazırki bölmədə yerləşdirərək diqqətinizə çatdırırıq.
                                Bu bölmədə hüquqi şəxsin təsis sənədləri nümunələri, informasiya sorğuları, şikayət ərizələri,
                                prtokol formaları, etibarnamələr, müraciət ərizələri və s. sənəd nümunələri yerləşdirilmişdir.
                            </p>
                            <p>
                                We understand business. That's why we begin every project with a workshop — crafting
                                a one-of-a-kind, unique strategy that is designed to help you win.
                            </p>
                        </div>
                        <div class="download-button d-flex align-items-center col-lg-12">
                            <a asp-action="Document" asp-controller="Home">
                                <span class="circle">
                                </span>
                                <p>Sənəd nümunələrini <br />buradan yükləyin</p>
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </li>
    </ul>
    @* Categories End *@
</div>
<section id="About" class="sect about">
    <div class="container">
        @* Slider *@
        <div class="col-lg-12 p-0 py-5"><h1>BİZ<br /><span>E-VEKIL.AZ</span></h1></div>
        <div class="row">
            <div class="col-lg-4 about-nav">
                <ul>
                    <li><span data-id="1" class="active">About</span></li>
                    <li><span data-id="2">Process</span></li>
                    <li><span data-id="3">Expertise</span></li>
                    <li><span data-id="4">People</span></li>
                </ul>
            </div>
            <div id="about-slider" class="col-lg-8">
                <div class="about-slider-wrapper col-12 p-0">
                    <div class="col-12 p-0 accordion active" data-id="1"><h3>About</h3></div>
                    <hr />
                    <article class="about-us active" data-name="1">
                        <div class="row">
                            <div class="col-lg-8">
                                <p>
                                    We believe that creating customer-centric experiences based on UX best practices, market research, and user testing is the best way to achieve Results on Internet® (ROI).
                                </p>
                                <p>For over 20 years, we have been creating high-performance websites, apps, and software that deliver ultimate digital experiences for financial services and insurance companies, nonprofits, and government agencies.</p>
                            </div>
                            <div class="col-lg-4">
                            </div>
                        </div>
                    </article>
                    <div class="col-12 p-0 accordion" data-id="2">
                        <h3>Process</h3>
                    </div>
                    <hr />
                    <article class="about-us" data-name="2">
                        <div class="row">
                            <div class="col-lg-8">
                                <p>
                                    Our believe that creating customer-centric experiences based on UX best practices, market research, and user testing is the best way to achieve Results on Internet® (ROI).
                                </p>
                                <p>For over 20 years, we have been creating high-performance websites, apps, and software that deliver ultimate digital experiences for financial services and insurance companies, nonprofits, and government agencies.</p>
                            </div>
                            <div class="col-lg-4">
                            </div>
                        </div>
                    </article>
                    <div class="col-12 p-0 accordion" data-id="3"><h3>Expertise</h3></div>
                    <hr />
                    <article class="about-us" data-name="3">
                        <div class="row">
                            <div class="col-lg-8">
                                <p>
                                    Their believe that creating customer-centric experiences based on UX best practices, market research, and user testing is the best way to achieve Results on Internet® (ROI).
                                </p>
                                <p>For over 20 years, we have been creating high-performance websites, apps, and software that deliver ultimate digital experiences for financial services and insurance companies, nonprofits, and government agencies.</p>
                            </div>
                            <div class="col-lg-4">
                            </div>
                        </div>
                    </article>
                    <div class="col-12 p-0 accordion" data-id="4"> <h3>People</h3></div>
                    <hr />
                    <article class="about-us" data-name="4">
                        <div class="row">
                            <div class="col-lg-8 people-images">
                                <h3>Meet our leadership team:</h3>
                                <div class="row">
                                    <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                        <div class="people-img-wrapper">
                                        <div class="people-img-overlay">
                                            <p>XXXX</p>
                                            <p>XXXXXXX</p>
                                        </div>
                                        <img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-1.jpg?noresize" alt="Vekil" /></div>
                                    </div>
                                    <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                        <div class="people-img-wrapper">
                                            <div class="people-img-overlay">
                                                <p>XXXX</p>
                                                <p>XXXXXXX</p>
                                            </div>
                                            <img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-1.jpg?noresize" alt="Vekil" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                        <div class="people-img-wrapper">
                                            <div class="people-img-overlay">
                                                <p>XXXX</p>
                                                <p>XXXXXXX</p>
                                            </div>
                                            <img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-1.jpg?noresize" alt="Vekil" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                    </div>
                                    <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                        <div class="people-img-wrapper">
                                            <div class="people-img-overlay">
                                                <p>XXXX</p>
                                                <p>XXXXXXX</p>
                                            </div>
                                            <img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-1.jpg?noresize" alt="Vekil" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                    </div>
                                    <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                        <div class="people-img-wrapper">
                                            <div class="people-img-overlay">
                                                <p>XXXX</p>
                                                <p>XXXXXXX</p>
                                            </div>
                                            <img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-1.jpg?noresize" alt="Vekil" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                    </div>
                                    <div class="col-lg-4 p-0 people my-1 col-md-4 col-sm-4">
                                        <div class="people-img-wrapper">
                                            <div class="people-img-overlay">
                                                <p>XXXX</p>
                                                <p>XXXXXXX</p>
                                            </div>
                                            <img src="https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/about/people-1.jpg?noresize" alt="Vekil" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ContactUs" class="sect contactUs">
    <div class="container">
        <div class="row">
            <header class="contact-header col-lg-12">
                <h1>BİZİMLƏ <br /> <span>ƏLAQƏ</span></h1>
            </header>
            <div class="contact-content col-lg-12">
                <form action="/" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Name">Ad</label>
                                <input type="text" class="form-control" id="Name" required>
                            </div>
                            <div class="form-group">
                                <label for="Phone">Telefon</label>
                                <input type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}" class="form-control" id="Phone" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Soyad">Soyad</label>
                                <input type="text" class="form-control" id="Name" required>
                            </div>
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" id="Email" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="Question">Sualınız</label>
                                <textarea class="form-control" id="Question" rows="4" required></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger">Göndər</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
