@model int
@if (Model == 0)
{
    <div class="basket-wrapper d-flex align-items-center">
        <span href="#" class="basket text-right"><i class="fas fa-shopping-cart"></i></span>
        <span class="badge badge-dark product-count">@Model</span>
    </div>
}
else
{
    <div class="basket-wrapper d-flex align-items-center">
        <span href="#" class="basket text-right"><i class="fas fa-shopping-cart"></i></span>
        <span class="badge badge-success product-count">@Model</span>
    </div>
}
