@model List<Advocate>
<select name="advocates" class="form-control form-control-line">
    @foreach (var item in Model)
    {
        <option value="@item.Email">@item.Name @item.Surname</option>
    }
</select>