@media only screen and (max-width: 575px){
    .page-cover{
        background-image: url(/../images/mobile.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media only screen  and (max-width:650px){
    .navHelper{
        display: none!important;
    }
    .isotop{
        display: none;
    }
    .slider-wrapper{
        display: none;
    }
    .intro-title{
        padding-top:30px!important;
    }
    .intro{
        padding-left:20px;
    }
    .intro-title h1{
       font-size: 2rem!important;
    }
    .intro-desc h5{
        font-size:1rem;
        width: 300px;
    }
    .icon-burger-wrapper{
        /*margin:0px 50px 0px 45px!important;*/
        margin:auto 50px auto 45px!important;
    }
    .side-bar-content {
        width: 100%; 
    }
    /* SECTIONS ACCORDION */
    .main-page-wrapper .category-name {
        display: block !important;
    }
    /*.main-page-wrapper article.category {
        max-height: 0px !important;
        padding-top: 0px !important;
        opacity: 0 !important;
        transition-duration: 1s !important;
    }
    .main-page-wrapper article.category.active {
        max-height: 2000px !important;
        opacity: 1 !important;
        display: block;
        padding-top: 20px !important;
    }*/
    .main-page-wrapper .category-item{
        display: none;
    }
    .main-page-wrapper article.category{
        padding-top:50px!important;
    }
        .main-page-wrapper article.category .category-title{
            display:none;
        }
        section.about h1 {
            font-size: 2em !important;
        }
    #about-slider{
        overflow:visible;
        margin-left:0px!important;
        height:100%!important;
        width:100%!important;
    }
    #about-slider .accordion{
        display:block!important;
    }
    .about-us {
        margin: 0px !important;
        max-height: 0px!important;
        transition: all 0.4s ease-in-out;
        overflow:hidden;
    }
        .about-us.active{
            max-height:2000px!important;
            transition:all 0.4s ease-in-out;
        }
        section.about article {
            position: relative !important;
            /*display: none;*/
            max-height: 0px !important;
            top: 0px !important;
            overflow: hidden !important;
        }
    section.about hr{
        display: block!important;
    }
    .about-nav{
        display:none!important;
    }

   .documents .document-item{
        float:none!important;
        width: 100%!important;
    }

   .documents .document-item:nth-child(2n) {
        float: none !important;
        width: 100% !important;
    }

    .search-wrapper{
        display:none!important;
    }
    .login-register-wrapper{
        display:none!important;
    }

    #loginnav {
        display: list-item!important;
    }
    .categories .category-content{
        box-shadow:none!important;
    }
}
@media only screen and (max-width:575px) {
    #main2{
        /*background-image:url('images/bg.png')!important;*/
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
    }
}    
@media only screen and (max-width:420px) {
    .intro-desc {
        display: none;
    }

    .intro {
        padding-top: 140px !important;
    }

    .contact-content {
        padding: 20px 17px !important;
    }

    .contact-header h1 {
        font-size: 2em !important;
    }

    .main-page-wrapper .category-text {
        margin-top: 20px !important;
    }

    .download-button {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width:868px){
    .main-page-wrapper .category-content {
        width: 90% !important;
        height: 220px !important;
    }
    #about-slider.about{
        margin-left:200px;
    }
    .category-title{
        font-size: 3rem!important;
        top:-7%!important;
    }
    .category-text{
        width:80%;
        padding-right: 0px!important;
    }
    .category-text p{
        text-align: center;
    }
    .download-button {
        justify-content: center;
    }
    .category-features{
        position: static!important;
        margin-top:-43px;
        width:70%!important;
        margin:-53px auto 40px auto;
    }

}
@media only screen and (max-width:991px){
    .registration-wrapper .login-form{
        border-right:0px!important;
        border-bottom:1px solid black;
        padding-bottom:50px;
        padding-right:0px;
    }
    .document-desc-img{
        margin:0px 15px!important;
    }
        .document-desc-img i{
            font-size:6.5em!important;
        }
        .registration-wrapper .register-wrapper {
            margin-top: 20px;
        }
    .search-wrapper{
        right:0%!important;
    }
    .login-register-wrapper{
        width:150px!important;
        right:-4%!important;
    }
    #About .contact-header h1{
        font-size:3em;
    }
    .main-page-wrapper .category-text{
        padding-left:0px!important;
    }
    .download-button{
        padding-left:0px!important;
    }
}
@media only screen and (max-width:320px){
    .side-bar-product{
        width:320px!important;
    }
    .close-icon-product{
        margin-left:174px!important;
    }
}
@media only screen and (max-width:575px) {
    section.about .people {
        text-align: center;
    }

    section.about .people-img-wrapper {
        width: 154px !important;
        display: inline-block !important;
    }
    /*#container{
        background:url('images/qiz1.jpg');
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
    }
    #container video{
        display:none;
    }*/
}