/* DEFAULTS */
.body-wrapper {
    z-index: 110;
    background-color: rgba(0,0,0,.7);
    /*width: 0%;*/
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    height: 100%;
    transition:all 0.4s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Muli', sans-serif;*/
    font-family: 'Excelsior', serif;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
    color:inherit;
}
li{
    list-style-type: none;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/../images/spinner.gif') no-repeat center center;
}

.main-page-wrapper{
    display: none;
}
/* END DEFAULTS */
.hidden {
    display: none !important;
}
                                                   

.main-page-wrapper {
                                                    /*height: 100%;
                                                    width: 100%;*/                              

    min-height: 100vh;
    overflow: hidden;
}
.main-page-wrapper section{
    position: relative;
}
.main-page-wrapper article.category{
    padding-top:110px;
    position: relative;
    transition: all 0.4s ease-in-out;
}

#bg-photo {
    height: -webkit-fill-available;
    transform:translateX(-10%);
}
/* START MAIN VIDEO */
.page-cover {
    /*width: 100%;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;*/
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.page-cover:after {
    content: "";
    background-image: linear-gradient(to right, rgba(255,0,0,0.5), rgba(255,0,0,0));
    background-image: -webkit-gradient(linear-gradient(to right, rgba(255,0,0,0.5), rgba(255,0,0,0)));
    height:100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.7;
}
.page-cover video{
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    /*height: 1064px;*/
    /*width: 1536px;*/
    /*margin-top: -65px;
    margin-left: 0px;

    object-fit: fill;*/
    /*object-position:center;*/
    /*margin-top:-100px!important;*/
}

/* START NAVBAR */
.nav-bar-wrapper {
    /*height: 109px;
                                                    transition: all 0.2s ease-in-out;
                                                    width: 100%;
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    z-index: 10;*/
    position: fixed;
    z-index: 10;
    color: #fff;
    display: block;
    height: 109px;
    width: 100%;
    transition-duration: .4s;
}
.header{
    display: flex;
    line-height: 109px;
    transition: all 0.2s ease-in-out;
}
.basket-wrapper {
    width: 30px;
    height: 70px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    cursor: pointer;
}
.search-wrapper{
    min-width: 30px;
    height: 70px;
    position:relative;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    cursor: pointer;
}
.login-register-wrapper{
    min-width: 250px;
    height: 70px;
    position: relative;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    cursor: pointer;
}
.login-register-wrapper a{
    color:white;
}
.nav-bar-wrapper .basket {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.4em;
}
.search-wrapper i{
    opacity: 0;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.4em;
    transition: all 0.3s ease-in-out;
}
.search-wrapper i.out{
    top: -10%;
    transition: all 0.3s ease-in-out;
}
.search-wrapper i.in{
    top: 50%;
    opacity:1;
    transition: all 0.3s ease-in-out;
}
.search-wrapper .search{
    width: 250px;
    height: 50px;
    background: white;
    border-radius: 20px;
    position: absolute;
    top: 120%;
    visibility:hidden;
    right: 0;
    outline:none;
    border:none;
    padding:15px 15px;
    transition:all 0.3s ease-in-out;
}
.ogin-register-wrapper{
    min-width:250px;
}
.search-wrapper .search.active {
    top: 107%;
    visibility:visible;
    transition: all 0.2s ease-in-out;
}
.nav-bar-wrapper .product-count {
    color: white;
    font-size: 9px;
    position: absolute;
    top: 37%;
    left: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}
.nav-bar-wrapper.scroll-design {
    height: 80px;
    background-color: #8a1919;
    transition: all 0.2s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 120px rgba(0,0,0,0.24);
}
.header.scroll-design{
    line-height: 80px;
    transition: all 0.2s ease-in-out;
}
.icon-burger-wrapper{
    position: relative;
    width: 50px;
    /*margin: 0px 100px 0px 83px;*/
    cursor: pointer;
                                    height: 30px;
                                    margin: auto 100px auto 83px;
}
.icon-burger{
                                         /*width:28px;*/
    width:30px;
    height:2px;
    display: inline-block;
    background-color: white;
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%);
    left:50%;
}
.icon-burger::after,
.icon-burger::before
{
    content: "";
    width:30px;
    height:2px;
    display: inline-block;
    background-color: white;
    position: absolute;
    transition: all 0.2s ease-in-out;
}
.icon-burger-wrapper:hover .icon-burger::after{
   top:12px;
   transition: all 0.2s ease-in-out;
}
.icon-burger-wrapper:hover .icon-burger::before{
    top:-12px;
    transition: all 0.2s ease-in-out;
 }
.icon-burger::after{
    top:7px;
}
.icon-burger::before{
    top:-7px;
}
.logo-brand{
    color:white;
    position:relative;
}


/* Side Bar Start */
.side-bar{
    /*width:310px;*/
                            width:100%;
    height: 100%;
    /*background-color: white;*/
    position: fixed;
    top:0;
    left:-100%;
    /*padding: 40px 0px 0px 60px;*/
    /*z-index: 100;*/
                             z-index: 121;
    transition: all 0.3s ease-in-out;
}
.side-bar-content {
    height: 100vh;
    width: 318px;
    max-width: calc(100% - 30px);
    background-color: #fff;
    position: absolute;
    padding: 40px 0px 0px 35px;
    box-shadow: 0 100px 250px rgba(66,0,5,0.2);
    transition-duration: .4s;
}
.side-bar.open{
    left:0;
    transition: all 0.3s ease-in-out;
}
.side-bar ul li{
    position: relative;
}
.side-bar ul li a{
    color:#221f1f;
    font-weight: bold;
    font-size: 1.6em;
}
.side-bar ul li:first-child{
    margin-bottom: 50px;
}
.side-bar .close-icon{
    cursor: pointer;
    width:30px;
    height: 30px;
    display: inline-block;
    z-index: 5;
}
.side-bar .close-icon::after,
.side-bar .close-icon::before
{
    content: "";
    width:30px;
    height:2px;
    display: inline-block;
    background-color: #221f1f;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}
.side-bar .close-icon::after{
    transform: rotate(-135deg)

}
.side-bar .close-icon::before{
    transform: rotate(135deg)
}
.side-bar ul li:first-child{
    width: 35px;
}
.side-bar hr{
   width:70%;
}
.side-bar ul li:first-child:hover .close-icon::after{
    background-color: #d82533;
    transition: all 0.3s ease-in-out;
}
.side-bar ul li:first-child:hover .close-icon::before{
    background-color: #d82533;
    transition: all 0.3s ease-in-out;
}

#loginnav{
    display: none;
}

/*PRODUCT SIDE BAR*/
.side-bar-product-wrapper {
    width: 100%;
    height: 100%;
    /*background-color: rgba(0,0,0,.7);*/
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 121;
    transition: all 0.3s ease-in-out;
}
.side-bar-product {
    width: 346px;
    height: 100%;
    right: 0;
    position: absolute;
    /*position: fixed;*/
    top: 0;
    /*right: -100%;*/
    background: white;
    z-index: 120;
    transition: all 0.3s ease-in-out;
}
.side-bar-product-wrapper.open{
    right:0;
    transition:all 0.3s ease-in-out;
}
.side-bar-title {
    background: #8a1919;
    color: white;
    padding: 22px 10px;
    /*background: #000;
    color: white;*/
}
.close-icon-product {
    color: white;
    font-size: 13px;
    margin-left: 195px;
    margin-top: 4px;
}
/*.close-icon-product::after,
.close-icon-product::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background: white;
    position: absolute;
    top: 43%;
    right: 4%;
}
.close-icon-product::after{
    transform: rotate(45deg);
}
.close-icon-product::before{
    transform: rotate(-45deg);
}*/
.product-info a{
    color:black;
    font-size:12px;
    margin:0!important;
}
.product-info{
    position:relative;
}
.product-info i{
    position:absolute;
    top:7%;
    right:3%;
    font-size:14px;
    cursor:pointer;
}
.product-desc .count span {
    color: #179a94;
}
.product-info span{
    color: black;
    font-size: 9px;
}
.side-bar-product-content .subtotal p {
    font-weight: bold;
    margin: 0;
    margin-top: 1px;
}
.side-bar-product-content .subtotal span {
    padding-left: 117px;
    font-size: 1.2em;
    color: #179a94;
}
.side-bar-product-content .checkout a{
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    background: #179a94;
    color:white;
    display:inline-block;
    cursor: pointer;
}
/*Scroll Helper Start*/
.navHelper {
    position: fixed;
    color: #fff;
    left: 60px;
    bottom: 60px;
    z-index: 9;
    display: block;
}

#navHelperADown,
#navHelperAUp{
    display: block;
    color: #fff;
    position: relative;
    transition-duration: .4s;
}

#navHelperAUp{
    color: black!important;
}

#navHelperADown span:first-child,
#navHelperAUp span:first-child{
    bottom: 60px;
    white-space: nowrap;
    position: absolute;
    left: 6px;
    transform-origin: 0 50%;
    transform: rotate(-90deg);
}

#navHelperADown span:nth-child(2),
#navHelperAUp span:nth-child(2){
    background: url(https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/landing/arrow-icons.png?t=1511794280898) 0 0 no-repeat;
    display: block;
    width: 13px;
    height: 40px;

}
#navHelperADown span:nth-child(2){
    background-position: 0 -40px;
}
#navHelperAUp span:nth-child(2){
    background-position: 0 -80px;
}

/* Hover Colors Of Side List Items */
.side-bar li a{
    transition: all 0.3s ease-in-out;
}
.side-bar li:nth-child(2):hover a{ color: #d82533; transition: all 0.1s ease-in-out; }
.side-bar li:nth-child(3):hover a{ color: #2878db; transition: all 0.1s ease-in-out; }
.side-bar li:nth-child(4):hover a { color: #239f46; transition: all 0.1s ease-in-out; }
.side-bar li:nth-child(5):hover a { color: #fc712c; transition: all 0.1s ease-in-out; }
.side-bar li:nth-child(6):hover a{ color: #d82533; transition: all 0.1s ease-in-out; }
.side-bar li:nth-child(7):hover a{ color: #d82533; transition: all 0.1s ease-in-out; }
.side-bar li:nth-child(8):hover a { color: #d82533; transition: all 0.1s ease-in-out; }
.side-bar li:nth-child(9):hover a { color: #d82533; transition: all 0.1s ease-in-out; }

                        /*.side-bar li:nth-child(9):hover a { color: #d82533; transition: all 0.3s ease-in-out; }*/




/* SECTIONS */

/* Intro Section */
.intro{
    position: relative;
                                                          /*background-color:brown;*/
    padding-top:109px;
    height: 100vh;
}
.intro-title{
    padding-top:150px;
}
.intro-title h1{
    color:white;
    font-size:3rem;
    text-transform:uppercase;
}
.intro-desc{
    padding-top:30px;
    color:white;
}
.intro .isotop{
    position: absolute;
    top:85%;
    left:14%;
}
.intro .isotop a{
    padding:10px 15px;
    border:1px solid rgba(255,255,255,0.3);
    border-left:0px;
    color:#fff;
    transition: all 0.3s ease-in-out;
    margin:-2px;
}
.intro .isotop a:first-child{
    border-left:1px solid rgba(255,255,255,0.3);
}
.intro .isotop a:hover{
    background-color: white;
    color:black;
    transition: all 0.3s ease-in-out;
}
/* Intro Section And */

/* Slider List */
.slider-wrapper{
    position:fixed;
    top:50%;
    transform:translateY(-50%);
    right:5%;
    z-index: 100;
}
.slider-wrapper li{
    cursor:pointer;
    padding:2px;
}
.slider.active {
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1.8px solid white;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}
.slider.change {
    background-color: black;
    /*transition: all 0.3s linear;*/
                                                transition: all 0.1s linear;
}
.slider.change.active {
  border: 1.8px solid black;
  background-color: transparent;
  /*transition:all 0.3s linear;*/
                                                transition:all 0.1s linear;
}
.slider-wrapper li:hover .slider.active {
    background-color: white;
}
.slider {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
    /*transition: all 0.4s ease-in-out;*/
                                                transition: all 0.1s ease-in-out;
}
.slider-wrapper li:hover .slider {
    width: 13px;
    height: 13px;
}
/* Slider List End */


/* Sections Continue */
.categories{
    margin:80px 0px;
}
.category-content{
    width:90%;
    position: relative;
    box-shadow: 50px 0px 800px rgba(0, 0, 0, 0.4);
}
.category-title {
    color: black;
    font-size: 4.5rem;
    position: absolute;
    top: -7%;
    left: 5%;
    font-weight: bold;
}
.main-page-wrapper .category-text {
    margin-top: 100px;
    padding-left:50px;
    padding-right: 485px;
}
.category-text p{
    font-size:20px;
}
.category-features{
    width:300px;
    position: absolute;
    top:53%;
    left:60%;
    z-index:5;
    box-shadow: 0 100px 250px rgba(30,96,178,0.2);
}
.category-features ul{
    padding: 30px 40px;
    background-color: #fff;
}
.category-features a{
    color:black;
}
.main-page-wrapper .category-name h4 {
    color: brown;
    font-weight: bold;
}
.main-page-wrapper .category-name {
    cursor: pointer;
    position: relative;
    display: none;
}
.main-page-wrapper .category-name i.rotate {
    transform: rotate(180deg);
    transition: all 0.4s ease-in-out;
}
    .main-page-wrapper .category-name i {
        font-size: 1.2em;
        position: absolute;
        top: 50%;
        color: #1C2331;
        transform: rotate(0deg);
        transform: translateY(-50%);
        transition: all 0.4s ease-in-out;
        right: 25%;
    }
.download-button span {
    display:inline-block;
    border-radius:100%;
    width: 43px;
    height: 43px;
    background-color: #d82533;
    position:relative;
}
.download-button span::before {
    content: "";
    width: 20px;
    border:1px solid #d82533;
    display: inline-block;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    left: -43%;
}
.download-button span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    width: 25px;
    height: 13px;
    background: url(https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/btn-promo-icon.png?t=1511794280898);
}
.download-button p {
    color: #d82533;
    font-weight:bold;
    margin:0;
    display:inline-block;   
    margin-left:15px;
}
.download-button{
    padding-left:70px;
}
/*Categories End*/
/*About Section*/
#About {
    background: #1C2331;
}
section.about .people-img-wrapper {
    padding: 0px 7px;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.about-nav li:hover .about-nav-item{
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
    color: #8a1919;
}
.about-nav li .about-nav-item{
    transition:all 0.3s ease-in-out;
}
section.about .people-img-wrapper img {
    height: 100%;
    width: 100%;
}
.people-img-overlay {
    width: 92%;
    height: 100%;
    background: #d82533;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s ease-in-out;
}
section.about .people:hover .people-img-overlay{
    opacity:1;
    transition:all 0.4s ease-in-out;
}
.people-img-overlay p{
    color:white!important;
    margin:0;
}
section.about {
    height: 100%;
    width: 100%;
    padding: 100px 0px;
    background: white;
}
section.about ul li {
    padding: 5px 0px;
    cursor: pointer;
}
    section.about ul li span.active {
        color: #8a1919 !important;
    }
    section.about ul li span {
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
        section.about ul li span.active {
            color: #8a1919;
            transition: all 0.2s ease-in-out;
        }
        section.about ul li:hover span {
            color: white;
            transition: all 0.2s ease-in-out;
        }
section.about h1{
    color:white;
    font-size:5em;
    font-weight:bold;
}
    section.about span {
        color: #8a1919;
    }
section.about .about-us p{
    color:white;
    font-size:18px;
}
#about-slider {
    /*height: 500px;
    overflow:hidden;
    position: relative;*/
    width: 70%;
    margin-left: 300px;
}
#about-slider article{
    /*max-height:500px;
    position: absolute;
    top: 1000px;
    transition:all 1s ease-in-out;*/
    /*visibility: hidden;*/
}
#about-slider article.active{
    /*visibility: visible;*/
    /*display: block!important;   
    top: 10px;
    transition:all 1s ease-in-out;*/

}
.about-us{
    margin-top:150px;
}

section.about hr {
    display: none;
}
.about-nav {
    width: 250px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}
    .about-nav.fixed {
        position: fixed;
        z-index: 10;
        transition:all 0.3s ease-in-out;
        top: 100px;
    }
    #about-slider .about-slider-wrapper {
        width: 100%;
        transition: all 1s ease-in-out;
    }
#about-slider .accordion{
    display: none;
    cursor: pointer;
    position:relative;
}
    #about-slider .accordion h3.active{
        color: #8a1919;
        transition:all 0.4s ease-in-out;
    }
    #about-slider .accordion h3 {
        font-weight: bold;
        color: white;
        transition: all 0.4s ease-in-out;
        margin:10px 0px;
    }
    #about-slider .accordion i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1%;
        font-size: 1.2em;
        transition: all 0.4s ease-in-out;
        color: white;
    }
        #about-slider .accordion i.active {
            color: #8a1919;
            transition: all 0.4s ease-in-out;
        }
        /*SECTION CONTACT US*/
        #ContactUs {
            /*height:100vh;*/
            padding: 50px 0px;
        }
.contact-header h1 {
    color: black;
    font-size: 5em;
    font-weight: bold;
}
.contact-header span {
    color: #d82533;
}
.contact-content input{
    padding:10px 5px;
}
.contact-content{
    padding:20px 15px;
}
.contact-content label{
    font-size:18px;
}
/*REGISTIRATION PAGE*/
.registration-wrapper{
    margin-top:159px;
}
.form-wrapper > div{
    display:none;
    border-right: 1px solid black;
    padding-right:30px;
}
.form-wrapper > div input{
    border-radius:0px;
}
.form-wrapper header h3 i{
    margin-right:10px;
}
.form-wrapper div.active{
    display:block!important;
}
.form-wrapper .form-button {
    width: 100%;
    border: 2px solid #8a1919;
    background: #8a1919;
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 7px 0px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.login-form span{
    font-size:13px;
}
.login-form .forget-password {
    font-size: 13px;
    color: black;
}
.login-form .forget-password:hover {
    color: #179a94;
    transition: all 0.3s ease-in-out;
}
.login-form .social-register{
    width:50%;
    padding:10px 10px;
    font-size:15px;
    color:white;
}
.social-register{
    position:relative;
    text-align:center;
}
.social-register i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    color: white;
    font-size: 15px;
}

.social-register.facebook {
    background: #3B5998;
    margin-right:2.5%;
}
.social-register.google {
    background: #ea4235;
    margin-left:2.5%;
}
.register-wrapper .buttons a {
    width: 30%;
    color: white;
    background: #8a1919;
    font-size: 15px;
    text-align: center;
    padding: 10px 10px;
    display: none;
}
.register-wrapper .buttons a.active{
    display:block;
}
/*SPECIFIC DOCUMENT*/
.similar-document-img {
    display: inline-block;
    height: 180px;
    background:#1C2331!important;
}
.similar-document-title {
    padding: 10px 15px;
    background:#1C2331;
    border-radius: 5px;
}
.document-desc-img{
    background:#1C2331!important;
}
.similar-document-title h3{
    color:white;
    font-weight:bold;
}
.similar-document-img i {
    font-size: 8em;
    color:white!important;
}
    .similar-document-item {
        width: 100%;
        padding: 10px 10px;
    }
.document-desc-wrapper{
    margin-top:160px;
}
.document-desc-img i{
    font-size:8em;
    color:white;
}
.document-desc-info h3 {
    font-weight: bold;
    color: #1C2331;
}
.document-desc-info header {
    border-bottom: 1px solid #1C2331;
    padding-bottom:10px;
}
.document-desc-img, .similar-document-img {
    text-align: center;
    background: white;
    max-height: 200px;
    /*border:1.4px solid black;*/
    border-radius: 10px;
    padding-top: 30px;
}
.add-to-cart a {
    border-radius: 5px;
}
.documents-filter .filter-button{
    background: #1C2331;
    color:white;
}
.document-desc-wrapper .add-button {
    padding: 10px 10px;
    display: inline-block;
    background: #1C2331;
    border: 2px solid #1C2331;
    color: white;
    transition: all 0.3s ease-in-out;
}
.description-wrapper.active{
    display:block;
}
.review-wrapper.active{
    display:block;
}
.description-wrapper{
    display:none;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background:white;
    box-shadow:5px 5px 10px rgba(0,0,0,0.3);
}
.review-wrapper {
    background: white;
    display: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.document-desc-wrapper .description.active,
.document-desc-wrapper .review.active{
    background:white;
    color:black;
    border-bottom-color:white;
}
.document-desc-wrapper .description,
.document-desc-wrapper .review {
    display: inline-block;
    margin-bottom: -2px;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 10px;
    color: white;
    background:#1C2331;
    cursor: pointer;
}
.send-review #UserName{
    width:200px;
}
.reviews img {
    height: 50px;
    display: inline-block;
    width: 50px;
}
.document-desc-price {
    color: #1C2331;
    font-size: 1.7em;
    font-weight: bold;
}
    .document-desc-price i {
        color: #1aada3;
    }

/**************ALL DOCUMENTS****************/
section.documents {
    overflow: hidden;
}

section.documents .container{
    overflow: hidden;
}
                                                                                              
.all-documents-header {
    margin-top: 93px;
    position: relative;
}

.all-category-title {
    color: white;
    font-size: 4.5rem;
    font-weight: bold;
}

.documents-page-wrapper{
    min-height: 100vh;
    overflow: hidden;
}

.documents-page-wrapper section{
    position: relative;
}

.all-category-text{
    margin-top: 70px!important;
}

.all-category-text p{
    font-size: 20px;
    color:white;
}

.all-category-content {
    padding: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    background: #1C2331;
    width: 100%;
    position: relative;
    box-shadow: 20px 20px 400px rgba(0, 0, 0, 0.4);
}

.document-item {
    width: 46% !important;
    display: block !important;
    float: left !important;
}

.document-item:nth-child(2n){
    float: right!important;
    clear: none;
}

.document-info {
    position: relative;
    border-radius: 4px;
    padding-left: 60px;
    padding-bottom: 10px;
}

.document-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.document-icon a {
    position: relative;
    display: block;
    width: 50px;
    height: 70px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 0px;
    border: #848484 solid 1px;
    color: #6284c3;
    box-shadow: 3px 2px 5px 1px rgba(50, 50, 50, 0.4);
}

.document-icon a i {
    font-size: 40px;
    position: absolute;
    top: 5px;
    left: 10px;
    color: black;
}

.document-icon a span{
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 13px;
    line-height: 13px;
    color: #848484;
}

.document-icon a:hover{
    background-color: #35538a;
}

.document-icon a:hover span,
.document-icon a:hover i{
    color: white;
}

.document-header h3 {
    line-height: 1.4;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Lato', "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 5px 10px 10px;
    margin-bottom: 0px;
    width: 100%;
    background: #f1f1f1;
    border-radius: 4px;
}

.document-header h3 a{
     color: #35538a;
}

.document-price{
    margin-top: 5px;
}

.document-price a:nth-child(1):hover{
    background-color:#ec301c;
    color: white;
}

.document-price a:nth-child(1) {
    border-radius: 4px;
    display: inline-block;
    color: #35538a;
    border: #35538a solid 1px;
    font-size: 12px;
}

.document-price a:nth-child(1) span{
    display: inline-block;
    padding: 4px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.document-price a:nth-child(2) span{
    background: none;
    padding: 0px;
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
}


.documents-filter{
    margin: 20px 0px;
}

/**************ALL DOCUMENTS END****************/
/**************ACCOUNT****************/
section.account{
    margin-top: 105px;
}
.account-header {
    padding: 20px;
    color: white;
    background-color: #0A0A0A;
}
.account-content{
    margin-top: 30px;
}
.account-nav{
    margin-bottom: 50px;
}
.account-nav-content{
    border: 1px solid rgba(136,136,136,.12);
    list-style: none;
}
.account-nav-title {
    margin-bottom: 0;
    border-bottom: none;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    background-color: #000;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.account-nav-content li {
    border-bottom: 1px solid rgba(136,136,136,.12);
    transition: all 0.3s linear;
    background-color: white;
}
.account-nav-content li.active{
    background-color: rgba(136,136,136,.32);
    cursor: default;
}
.account-nav-content li.active a{
    cursor: default;
}
.account-nav-content li:last-child{
    border-bottom: none;
}
.account-nav-content li:hover{
    background-color: rgba(136,136,136,.05);
}
.account-nav-content li a{
    padding: 14px 20px;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(71,71,71,.8);
}
.account-details p {
    padding: 20px;
    background-color: #f9f9f9;
    font-size: 16px;
}
.account-details p a{
    padding-bottom: 1px;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    display: inline;
}
.account-details p a:hover{
    border-color: #A6A6A6;
}
.account-option {
    color: rgba(71,71,71,.8);
    display: block;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    transition: all 0.3s linear;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid rgba(136,136,136,1);
    background-color: #f9f9f9;
}
.account-option span{
    display: block;
}
.account-option span i{
    color: #d0d0d0;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.account-option:hover{
    background-color: rgba(136,136,136,.05);
}
.account-option:hover span i {
    color: #8A1919;
}
.box {
    box-model: border-box;
    border: 3px solid transparent;
    background-clip: padding-box;
}

.box a{
    display: block; 
}
/**************ACCOUNT END****************/
/**************FOOTER****************/
footer {
    margin-top: 50px;
}
.footer-header {
    background-color: #8A1919;
    color: white;
}

.footer-content {
    background-color: #1C2331;
    color: white;
}

.footer-content hr{
    width: 60px; 
    background-color: #8A1919;
}

.footer-footer {
    background-color: #161C27;
    color: white;
}

/*footer a{
    font-size: 13px;
}

footer p{
    margin-bottom: 0!important;
}*/


.category-bg{
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;    
}

/*Confirm Email*/
.confirm h4{
    color:brown;
}
.confirm p {
    color: black;
}
.confirm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2000;
    display: none;
    background: white;
    border-radius: 10px;
    padding: 50px 100px;
}

/*Pagination*/
.page-link {
    color: #1C2331;
}
.page-item.active .page-link {
    color: white;
    border-color: #1C2331!important;
    background-color: #1C2331 !important;
}
.documents .alert{
    padding:1px;
}