/*//////////////MURAD START////////////////*/

/*html {
    scroll-behavior: smooth;
}*/

*, *:after, *:before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
}

li{
    list-style-type: none;
}

body {
    background-color: #fff;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    height: 3000px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

.scroller {
    /*top:0;
    left:0;
    position:fixed;*/
    width: 100%;
    min-height:100vh;
    overflow:hidden;
}
.scroller section{
    height:100vh;
}

.header {
    position: fixed;
    z-index: 10;
    color: #fff;
    display: block;
    height: 109px;
    width: 100%;
    transition-duration: .4s;
}

.headerScroll {
    background: #221f1f;
    box-shadow: 0 0 120px rgba(0,0,0,0.24);
    transform: translateY(-35px);
}

.headerContent {
    padding: 0 238px;
    position: relative;
    top: 40px;
}

.logo {
    padding: 14px 0;
    display: inline-block;
    color: rgba(255,255,255,0.6);
    font-size: 26px;
}

.navToggle {
    color: #fff;
    left: 40px;
    top: 40px;
    position: absolute;
    display: block;
    padding: 20px;
}

.icon {
    display: block;
    position: relative;
    transition-duration: .4s;
    color: #fff;
}

.iconBurger {
    color: #fff;
    background: currentColor;
    width: 30px;
    height: 2px;
    margin: 7px 0;
    line-height
}

.iconBurger:before, .iconBurger:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 2px;
    width: 100%;
    background: currentColor;
    transition-duration: .4s;
}

.iconBurger:before {
    transform: translateY(-7px);
}

.iconBurger:after {
    transform: translateY(7px);
}

.navToggle:hover .iconBurger:before{
    transform: translateY(-12px);
}

.navToggle:hover .iconBurger:after {
    transform: translateY(12px);
}

.hidden{
    display: none!important;
}

.navHidden{
    transition: 2s;
    left: -918px!important;
}


.navPrimary {
    display: block;
    color: #221f1f;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    transition-duration: .6s;
    transition-timing-function: linear;
}

.navPrimaryContent {
    height: 100vh;
    width: 318px;
    max-width: calc(100% - 30px);
    position: absolute;
    box-shadow: 0 100px 250px rgba(66,0,5,0.2);
    background-color: #fff;
    transition-duration: .4s;
    padding: 115px 80px 57px 62px;
}

.navPrimary .navToggle {
    margin: -5px 0 0 4px;
    color: #221f1f;
    left: 40px;
    top: 40px;
    position: absolute;
    padding: 20px;
}


.iconClose {
    color: #221f1f !important;
    width: 22px;
    height: 22px;
}

.iconClose:before, .iconClose:after {
    content: "";
    transform-origin: center;
    position: absolute;
    left: -5px;
    top: 11px;
    height: 2px;
    width: 31.1124px;
    background-color: currentColor;
}

.iconClose:before {
    transform: rotate(45deg);
}

.iconClose:after {
    transform: rotate(-45deg);
}

.navPrimary .navToggle:hover .iconClose {
    color: red !important;
}

.navList {
    font-size: 1.6rem;
    line-height: 1.57692em;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 800;
    padding-top: 14px;
}

ol.navList {
    padding-bottom: 18px;
}

ul.navList {
    padding-top: 14px;
}

.navList a {
    display: block;
    color: #221f1f;
}

.navList li:nth-child(1):hover a{ color: #636393; }
.navList li:nth-child(2):hover a{ color: #B5222D; }
.navList li:nth-child(3):hover a { color: #D4953C; }
.navList li:nth-child(4):hover a { color: #609491; }
.navList li:nth-child(5):hover a{ color: mediumvioletred; }
.navList li:nth-child(6):hover a{ color: palegreen; }
.navList li:nth-child(7):hover a { color: royalblue; }
.navList li:nth-child(8):hover a { color: ThreeDDarkShadow; }



@media only screen and (max-width: 670px) {
    .navPrimaryContent{
        width: 100%;
    }
}
/*//////////////MURAD END////////////////*/



/*//////////////TERLAN START////////////////*/
.intro {
    min-height:100vh;
    padding-top:150px;
    padding-bottom:20px;
    background-image:url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
}
.intro-title{
    padding-top:100px;
}
 .intro-title h1 {
    color: white;
    font-size: 4rem;
    font-weight:bold;
}
.intro-desc p{
    color:white;
    font-size:1.4rem;
}
.slider-wrapper{
    position:fixed;
    top:50%;
    transform:translateY(-50%);
    right:5%;
}
.slider-wrapper li{
    cursor:pointer;
    //padding:2px;
}
.slider.active {
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1.8px solid black;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}
.slider.change {
    background-color: black;
    transition:all 0.1s linear;
}
.slider.change.active {
    border: 1.8px solid black;
    background-color: transparent;
    transition:all 0.1s linear;
}
.slider-wrapper li:hover .slider.active {
    background-color: white;
}
.slider{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.slider-wrapper li:hover .slider {
    width: 13px;
    height: 13px;
}
.isotop{
    position:absolute;
    top:80%;
    left:13%;
}
.isotop table td{
    padding:5px;
}
.isotop table td a {
    color: white;
    font-size: 14px;
    transition: all 0.3s linear;
}
.isotop table td:hover {
    background-color: white;
    transition: all 0.3s linear;
}
.isotop table td:hover .isotop-link{
    color: black;
    transition: all 0.3s linear;
}
.isotop table {
    width: 49%;
}

@media only screen and (max-width: 992px) {
    .isotop{
        display:flex;
        justify-content:center;
    }
    .isotop table{
        width:70%;
    }
}
@media only screen and (max-width: 768px) {
   .isotop table{
       width:90%;
   }
   .isotop{
       left:50%;
       transform:translateX(-50%);
   }
   .intro-title p{
       font-size:1rem!important;
   }
  
}
@media only screen and (max-width: 650px) {
    .isotop{
       display:none;
    }
    .intro-title h1 {
        font-size: 2.6rem !important;
    }
    .intro-title p {
        font-size: 0.8rem !important;
    }
    .intro-title{
       padding-top:40px!important;
   }
   .slider-wrapper{
       display:none!important;
   }
    .headerContent{
        top: 33px!important;
        padding:0px;
        padding-left: 120px!important;
    }
    .navToggle{
        left: 15px!important;
    }
}
.account h5{
    line-height:67px;
}
.option{
    min-height:100vh;
    width:100%;
}
.documents-wrapper section{
    margin:150px auto 50px auto;
    position:relative;
    
}
.documents-wrapper section .content{
    height:500px;
}
.documents-wrapper section h1{
    font-size:4.5rem;
    font-weight:bold;
    position:absolute;
    top:-4%;
    left:4%;
    z-index:10;
}
