<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem; min-height: 230px;    ">
                <div class="card-header">İstifadəçi</div>
                <div class="card-body">
                    <h5 class="card-title">Toplam istifadəçi</h5>
                    <p class="card-text">Burada istifadəçilərin statistikası olacaq</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem; min-height: 230px;">
                <div class="card-header">Şərh</div>
                <div class="card-body">
                    <h5 class="card-title">Toplam şərh</h5>
                    <p class="card-text">Burada şərhlərin statistikası olacaq</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem; min-height: 230px;">
                <div class="card-header">Maraqlı</div>
                <div class="card-body">
                    <h5 class="card-title">Sizin üçün</h5>
                    <p class="card-text">Burada sizin şərhiniz ola bilərdi</p>
                </div>
            </div>
        </div>
    </div>
</div>
